<!DOCTYPE html>
<html lang="it">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Bar Scaloni | Bar, Cucina, Aperitivi e Tabaccheria a Rosora</title>

<link rel="icon" type="image/png" href="{{ url_for('static', filename='logo3.png') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

</head>

<body>

<nav class="navbar">

<div class="logo">

BAR SCALONI

</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/chi-siamo">Chi Siamo</a></li>

<li><a href="/menu">Menu</a></li>

<li><a href="/orari">Orari</a></li>

<li><a href="/contatti">Contatti</a></li>

</ul>

</nav>

{% block content %}
{% endblock %}

<footer>

<div class="footer-content">

<h3>Bar Scaloni</h3>

<p>
Via Roma, 194<br>
60030 Rosora (AN)
</p>

<p>
+39 339 111 9097
</p>

<div class="socials">

<a href="https://www.facebook.com/barscaloni/?locale=it_IT">
Facebook
</a>

<a href="https://www.instagram.com/bar_scaloni/">
Instagram
</a>

</div>

</div>

</footer>

</body>

</html>
