{% extends "base.html" %}

{% block content %}

<section class="page-header"
style="background-image:url('{{ url_for('static', filename='images/locale2.jpeg') }}');">

<h1>Chi Siamo</h1>

</section>

<section class="section">

<div class="grid">

<div class="card">

<img src="{{ url_for('static', filename='images/locale3.jpeg') }}">

<h3>La Nostra Storia</h3>

<p>

Riaperto nel 2024 e completamente rinnovato, lo storico Bar Scaloni torna a essere il punto di ritrovo della comunità. Ora più grande e accogliente, ti aspettiamo per colazioni, pranzi, aperitivi e molto altro!

</p>

</div>

<div class="card">

<img src="{{ url_for('static', filename='images/locale4.jpeg') }}">

<h3>La Nostra Filosofia</h3>

<p>

Crediamo nella cura dei dettagli.

Ogni prodotto viene selezionato
con attenzione.

Dalle miscele di caffè alle proposte gastronomiche,
ogni scelta è orientata alla qualità.

</p>

</div>

</div>

</section>

<section class="section">

<h2 class="section-title">
Perché scegliere Bar Scaloni
</h2>

<div class="grid">

<div class="card">

<h3>Qualità</h3>

<p>

Prodotti selezionati,
ingredienti freschi
e servizio professionale.

</p>

</div>

<div class="card">

<h3>Accoglienza</h3>

<p>

Un ambiente elegante
e familiare.

</p>

</div>

<div class="card">

<h3>Esperienza</h3>

<p>

Un punto di riferimento
per colazioni, pause pranzo
e aperitivi.

</p>

</div>

</div>

</section>

{% endblock %}