{% extends "base.html" %}

{% block content %}

<section class="hero"
style="background-image:url('{{ url_for('static', filename='images/home.jpg') }}');">

<div class="hero-content">

<h1>Bar Scaloni</h1>

<p>
Eleganza, gusto e accoglienza nel cuore delle Marche.
</p>


</div>

</section>

<section class="section">

<h2 class="section-title">
Benvenuti da Bar Scaloni
</h2>

<div class="grid">

<div class="card">

<img src="{{ url_for('static', filename='images/locale2.jpeg') }}">

<h3>Un ambiente raffinato</h3>

<p>

Un luogo dove la qualità del servizio incontra
un'atmosfera accogliente e ricercata.

Dalla colazione del mattino all'aperitivo serale,
ogni momento è pensato per offrire relax e comfort.

</p>

</div>

<div class="card">

<img src="{{ url_for('static', filename='images/cibo8.jpeg') }}">

<h3>Aperitivi</h3>

<p>

Bevande, Aperitivi e Cocktail preparati con cura,
selezione di vini e proposte gastronomiche
pensate per accompagnare ogni incontro.

</p>

</div>

</div>

</section>

<section class="section">

<h2 class="section-title">
Le Nostre Specialità
</h2>

<div class="grid">

<div class="card">

<img src="{{ url_for('static', filename='images/cibo2.jpeg') }}">

<h3>Colazioni</h3>

<p>

Cornetteria fresca,
caffetteria
e proposte dolci per iniziare la giornata.

</p>

</div>

<div class="card">

<img src="{{ url_for('static', filename='images/persone1.jpeg') }}">

<h3>Pausa Pranzo</h3>

<p>

Piatti veloci e curati,
ingredienti selezionati
e servizio rapido.

</p>

</div>

<div class="card">

<img src="{{ url_for('static', filename='images/persone2.jpeg') }}">

<h3>Aperitivo</h3>

<p>

Taglieri, cocktail,
stuzzicheria e proposte gourmet.

</p>

</div>

</div>

</section>

<section class="section">

<h2 class="section-title">
Galleria
</h2>

<div class="gallery">

<img src="{{ url_for('static', filename='images/cibo3.jpeg') }}">

<img src="{{ url_for('static', filename='images/cibo4.jpeg') }}">

<img src="{{ url_for('static', filename='images/locale3.jpeg') }}">

<img src="{{ url_for('static', filename='images/locale4.jpeg') }}">

<img src="{{ url_for('static', filename='images/gallery2.jpeg') }}">

<img src="{{ url_for('static', filename='images/cappuccino.jpg') }}">

</div>

</section>

{% endblock %}
