{% extends "base.html" %}

{% block content %}

<section class="page-header"
style="background-image:url('{{ url_for('static', filename='images/pesce.jpg') }}');">

<h1>Menu & Specialità</h1>

</section>

<section class="section">

<h2 class="section-title">
Le Nostre Proposte
</h2>

<div class="grid">

<div class="card">

<h3>☕ COLAZIONI</h3>

<p>

Dolci e salate.

<br><br>

Croissant, brioche,
cappuccini, caffetteria,
toast e proposte per iniziare
la giornata con gusto.

<br><br>

<strong>
Ogni 10 colazioni,
1 in omaggio.
</strong>

</p>

</div>

<div class="card">

<h3>🍽️ PRANZI VELOCI</h3>

<p>

Veloci, convenienti
e disponibili anche da asporto.

<br><br>

<strong>
Primo + Contorno + Acqua + Caffè
</strong>

<br>

€ 8,00

<br><br>

<strong>
Secondo + Contorno + Acqua + Caffè
</strong>

<br>

€ 10,00

<br><br>

<strong>
Menu Completo
</strong>

<br>

€ 13,00

</p>

</div>

<div class="card">

<h3>🍹 APERITIVI SERALI</h3>

<p>

Tutti i giorni.

<br><br>

Disponibili fino alle

<strong>20:00</strong>

<br><br>

Buffet incluso.

<br><br>

Cocktail,
vini selezionati,
spritz e stuzzicheria.

</p>

</div>

</div>

</section>

<section class="section">

<h2 class="section-title">
Perché scegliere Bar Scaloni
</h2>

<div class="grid">

<div class="card">

<h3>Qualità</h3>

<p>

Ingredienti selezionati,
preparazioni curate
e attenzione ai dettagli.

</p>

</div>

<div class="card">

<h3>Rapidità</h3>

<p>

Servizio veloce
per chi ha poco tempo
ma non vuole rinunciare alla qualità.

</p>

</div>

<div class="card">

<h3>Convenienza</h3>

<p>

Formule pensate
per colazioni,
pause pranzo
e aperitivi accessibili.

</p>

</div>

</div>

</section>

<section class="section">

<h2 class="section-title">
Galleria
</h2>

<div class="gallery">

<img src="{{ url_for('static', filename='images/cibo4.jpeg') }}">

<img src="{{ url_for('static', filename='images/cibo5.jpeg') }}">

<img src="{{ url_for('static', filename='images/cibo6.jpeg') }}">

<img src="{{ url_for('static', filename='images/cibo7.jpeg') }}">

<img src="{{ url_for('static', filename='images/cibo8.jpeg') }}">

<img src="{{ url_for('static', filename='images/cibo9.jpeg') }}">

</div>

</section>

{% endblock %}